*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body{
  background: rgb(111, 185, 111);
} */
/* .button{
  height: 100px;
  width: 100px;
  font-size: 50px;

} */
#title{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 6rem;
  color: rgb(241, 40, 40);
  font-weight:bold;
}
#titleSpan{
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 6rem;
  color: rgb(38, 158, 238);
  font-weight:bold;
}
.heading {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(54, 54, 54);
  margin: 20px;
  text-align: center;
}
.players {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.player {
  width: 200px;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-size: 5rem;
  cursor: pointer;
  text-align: center;
}


.player:hover {
  transform: scale(1.1);
  background: royalblue;
  color:white;
}
